.img1 {
   box-sizing: border-box;
   width: 360px;
   height: 300px;
   background: url(2368.jpg);
   /* CORNFLOWER */
   border: 1px solid #E7E9FC;
   /* Inside auto layout */
   flex: none;
   order: 0;
   flex-grow: 0;
}

.img2 {
   box-sizing: border-box;
   width: 360px;
   height: 300px;
   background: url(2225.jpg);
   /* CORNFLOWER */
   border: 1px solid #E7E9FC;
   /* Inside auto layout */
   flex: none;
   order: 0;
   flex-grow: 0;
}

.img3 {
   box-sizing: border-box;
   width: 360px;
   height: 300px;
   background: url(photo-1545235617-7a424c1a60cc.jpg);
   /* CORNFLOWER */
   border: 1px solid #E7E9FC;
   /* Inside auto layout */
   flex: none;
   order: 0;
   flex-grow: 0;
}
